<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">All Documents</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="row text-lg-left col-lg-10">
    <% if @documents.present? %>
      <% @documents.each do |document| %>
          <div class="col-lg-3 col-md-4 col-6 mb-4 text-center"><!-- text-align: center -->
            <%= link_to(document, class: "d-block mb-3 text-dark") do %>
              <% if document.completed? %>
                <img src="<%= document.thumbnail_url %>" class="document-card-image" />
              <% else %>
                <%= image_tag("zoidberg.png", class: "img-fluid img-thumbnail no-border", style: "margin-top: 15%") %>
              <% end %>
              <h4 class="mt-sm-2"><%= document.title %></h4>
            <% end %>
            <% if document.completed? %>
              <%= link_to "Download", document.download_path, class: "btn btn-success" %>
            <% else %>
              <span class="badge badge-pill badge-warning large-progress-badge">Processing</span>
            <% end %>
          </div>
      <% end %>
    <% else %>
      <div class="col-md-12 text-center">
        No documents found.
      </div>
    <% end %>
  </div>
</div>
