<!DOCTYPE html>
<html>
  <head>
    <title>Zoidberg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper" class="menuDisplayed">
    <%= render 'layouts/sidebar' %>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
              <a href="#" class="btn" id="menu-toggle"><%= octicon "three-bars", height: 32, class: "right left" %></a>
              <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>">
                <% if key == "warning" && value.is_a?(Array) && value.count > 1 %> <%# Warning messages for documents#create %>
                <p><%= value[0] %></p>
                <p><%= value[1] %></p>
                <% else %>
                    <%= value %>
                <% end %>
              </div>
              <% end %>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <%= yield %>
    </div>
    </div>
  </body>

  <script>
    $(document).ready(function(){
    $("#menu-toggle").click(function(e){
      e.preventDefault();
      $("#wrapper").toggleClass("menuDisplayed");
    });
  });
  </script>

</html>
